src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<flow name="businessLogicFlow" doc:id="8c4f5ec4-1849-4aa8-ae4a-05fe689fdc95">

		<batch:job jobName="migrateUsersBatch"
			doc:id="ee06cec1-11de-4ed6-bbe0-6696c8cf5007">
			<batch:process-records>
				<batch:step name="getUserInBStep" doc:id="905bd6b1-0d09-4b68-b7d3-eed208a1e1da">
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config"
						doc:name="Query User from Salesforce B" doc:id="52bedbdd-db5d-45dc-a04f-bf39da36fc72">
						<salesforce:salesforce-query>SELECT Id FROM User WHERE Email = ':email'
						</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Add SFDC User Id to payload" doc:id="4003e564-6a51-4c99-8b2f-dd4cef136531">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInB]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertInSalesforceStep" doc:id="7448885e-6080-4ab0-95f6-250e101126e4" acceptExpression="#['${sfdc.a.profile.id}' == payload.ProfileId]">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="a7a35e6b-4254-4a82-b749-eeae684c86f6" size="${page.size}">
						<ee:transform doc:name="Prepare Users for Upsert"
							doc:id="a6ac8fea-4ea8-4770-9812-d5a04ea603c2">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ((item) -> {
	Email: item.Email,
	FirstName: item.FirstName, 
	LastName: item.LastName, 
	Username: item.Username ++ '.target', 
	Alias: item.Alias, 
	TimeZoneSidKey: item.TimeZoneSidKey, 
	LocaleSidKey: item.LocaleSidKey, 
	EmailEncodingKey: item.EmailEncodingKey, 
	ProfileId: p('sfdc.b.profile.id'), 
	LanguageLocaleKey: item.LanguageLocaleKey,
	(Id: item.Id) if (item.Id != null)
})]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log records to upsert"
							doc:id="bd1cd2d2-8fd3-43f3-af8a-a980d48c16ed" message="#[write(payload, 'application/json')]" />
						<salesforce:upsert config-ref="Salesforce_Sfdc_B_config"
							externalIdFieldName="Id" type="User" doc:name="Upsert Users in Salesforce B"
							doc:id="33cd1761-433c-4374-8a57-1b0beac42eba" />
						<logger level="INFO" doc:name="Log Salesforce response"
							doc:id="3818422d-036b-4bdd-9643-aae361646f44" message="#[write(payload, 'application/json')]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<scatter-gather doc:name="Scatter-Gather"
					doc:id="714c0a1b-6930-4932-8d0d-d4844e6d7dbc">
					<route>
						<logger level="INFO" doc:name="Migration process has finished!"
							doc:id="976becee-bc5c-4708-a177-980aeab17962" message="Migration process has finished!" />
					</route>
					<route>
						<ee:transform doc:name="Prepare migration result email"
							doc:id="4981ee86-bfbf-41fc-8187-7bdb7324714c">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"
  
 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "			++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<email:send config-ref="Gmail_SMTP" doc:name="Send migration result email" doc:id="03700d32-4533-4319-a900-c7cb8c524e56" fromAddress="${mail.from}" subject="${mail.subject}">
 							<email:to-addresses>
 								<email:to-address value="${mail.to}" />
 							</email:to-addresses>
 						</email:send>
 					</route>
		</scatter-gather>
			</batch:on-complete>
		</batch:job>
	</flow>
	 <flow name="mainFlow" doc:id="3ccc9888-7d71-45e6-b1bc-f8795bf50f08" >
		<salesforce:query config-ref="Salesforce_Sfdc_A_config" doc:name="Query Users from Salesforce A">
			<salesforce:salesforce-query>SELECT Email, FirstName, LastName,
				Username, Alias, TimeZoneSidKey, LocaleSidKey, EmailEncodingKey,
				ProfileId, LanguageLocaleKey, LastModifiedDate FROM User WHERE
				IsActive = true AND LastModifiedDate &gt; :startingDate</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"startingDate" : "${startingDate}"
}]]]></salesforce:parameters>
		</salesforce:query>
		<flow-ref doc:name="Trigger businessLogicFlow" doc:id="a2651879-1469-45ee-aa31-9c34eaa53b53" name="businessLogicFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0456434b-7948-4620-ba89-f793142d0ebe" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="af74b232-e61a-4405-844f-711f8cbb0d09" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow> 
</mule>

	
	