src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="triggerFlow" doc:id="11c691f4-626b-4fcd-a0e5-c97d2a8091ff" >
		<http:listener doc:name="Start synchronization" doc:id="c4d3120d-08df-4b40-92f4-6f5ce08719ce" config-ref="HTTP_Listener_config" path="/syncusers"/>
		<flow-ref doc:name="Call mainFlow" doc:id="552394c1-5276-416d-866a-f679444ba9ac" name="mainFlow"/>
		<ee:transform doc:name="Build response" doc:id="a856796f-2a1b-4ca0-8e87-273261f03707">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
 ---
 {
 	Message: "Batch Process initiated",
 	ID: payload.id,
 	RecordCount: payload.recordCount,
 	StartExecutionOn: payload.creationTime as DateTime
 }
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
   
</mule>

