src/main/mule/template-sfdc2sfdc-user-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<configuration-properties file="mule-artifact.properties"
		doc:name="Configuration properties" doc:id="ca514625-7559-4c4d-a352-9acbc3a331dc" />
	<configuration-properties file="common.properties"
		doc:name="Configuration properties" doc:id="77c4ebce-f817-4dff-99ad-6d2e76512d04" />
	<configuration-properties file="mule.${mule.env}.properties"
		doc:name="Configuration properties" doc:id="34a99db6-7c63-46ba-89f5-fa5d1fed399e" />
	<email:smtp-config name="Gmail_SMTP" doc:name="Email SMTP"
		doc:id="3fe54962-4f4c-4dc7-8aa4-acbad2d10e43">
		<email:smtps-connection host="${smtp.host}"
			port="${smtp.port}" user="${smtp.user}" password="${smtp.password}"
			tlsContext="TLS_Context" />
	</email:smtp-config>
	<tls:context name="TLS_Context" doc:name="TLS Context"
		doc:id="f2135468-7efa-4e92-a191-eaca88df39f2">
		<tls:trust-store insecure="true" />
	</tls:context>
	<salesforce:sfdc-config name="Salesforce_Sfdc_A_config"
		doc:name="Salesforce Sfdc A config" doc:id="97583da0-5499-4f2e-a610-5f6568d7e3c6">
		<salesforce:basic-connection username="${sfdc.a.username}"
			password="${sfdc.a.password}" securityToken="${sfdc.a.securityToken}"
			url="${sfdc.a.url}" />
	</salesforce:sfdc-config>
	<salesforce:sfdc-config name="Salesforce_Sfdc_B_config"
		doc:name="Salesforce Sfdc B config">
		<salesforce:basic-connection username="${sfdc.b.username}"
			password="${sfdc.b.password}" securityToken="${sfdc.b.securityToken}"
			url="${sfdc.b.url}" />
	</salesforce:sfdc-config>

	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config" doc:id="46c2b4bc-6df0-451d-a6ce-510e8b26b1b4">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>
	<flow name="template-sfdc2sfdc-user-migrationFlow" doc:id="dda2293a-f3aa-41b9-aa97-bfe9ccbda6c5">
		<http:listener doc:name="/migrate"
			doc:id="f72851a1-0b2a-4931-9dd8-9a3e712cf559" config-ref="HTTP_Listener_config"
			path="/migrate" />
		<salesforce:query config-ref="Salesforce_Sfdc_A_config"
			doc:name="Query Users from Salesforce A">
			<salesforce:salesforce-query>SELECT Email, FirstName, LastName,
				Username, Alias, TimeZoneSidKey, LocaleSidKey, EmailEncodingKey,
				ProfileId, LanguageLocaleKey, LastModifiedDate FROM User WHERE
				IsActive = true AND LastModifiedDate &gt; :startingDate</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"startingDate" : "${startingDate}"
}]]]></salesforce:parameters>
		</salesforce:query>

		<batch:job jobName="template-db2sfdc-user-migrationBatch_Job"
			doc:id="e9265e23-8dde-4855-8b03-b8ee709a4896">
			<batch:process-records>
				<batch:step name="queryUserStep" doc:id="73f5cdc7-59ae-46cb-b1b4-1b3a965e2f3e">
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config"
						doc:name="Query User from Salesforce B" doc:id="783b2ca3-1ace-4f8b-bc6d-d64b59563878"
						target="IdInB">
						<salesforce:salesforce-query>SELECT Id FROM User WHERE Email =
							':email'
						</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Add SFDC User Id to payload"
						doc:id="c9685fd5-458b-4888-b848-0b31d4b39c38">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInB]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertInSalesforceStep" doc:id="ef1fa6ea-9b07-4385-a0b2-491396f97a34"
					acceptExpression='payload.sfdcId == null or (vars.dbLastModified &gt; payload.sfdcLastModifiedDate)'>
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1df6c548-87de-4cfe-9ebb-412cab2b1499" size="200">
						<ee:transform doc:name="Prepare Users for Upsert"
							doc:id="5263e05a-1baf-4e7d-befd-a210be595768">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ((item) -> {
	Email: item.Email,
	FirstName: item.FirstName, 
	LastName: item.LastName, 
	Username: item.Username ++ '.target', 
	Alias: item.Alias, 
	TimeZoneSidKey: item.TimeZoneSidKey, 
	LocaleSidKey: item.LocaleSidKey, 
	EmailEncodingKey: item.EmailEncodingKey, 
	ProfileId: p('sfdc.b.profile.id'), 
	LanguageLocaleKey: item.LanguageLocaleKey,
	(Id: item.Id) if (item.Id != null)
})]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log records to upsert"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
						<salesforce:upsert config-ref="Salesforce_Sfdc_B_config"
							externalIdFieldName="Id" type="User" doc:name="Upsert Users in Salesforce B"
							doc:id="4a36339e-9efd-4264-a864-ddbdbc0b1732" />
						<logger level="INFO" doc:name="Log Salesforce response"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<scatter-gather doc:name="Scatter-Gather"
					doc:id="ef2964ef-0b85-4c6c-a5ee-b834df639e7b">
					<route>
						<logger level="INFO" doc:name="Migration process has finished!"
							doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished!" />
					</route>
					<route>
						<ee:transform doc:name="Prepare migration result email"
							doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"
  
 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
 ++ "\n Total Records: "			++ payload.totalRecords
 ++ "\n Successful Records: "		++ payload.successfulRecords
 ++ "\n Failed Records: "			++ payload.failedRecords
 ++ "\n Loaded Records: "			++ payload.loadedRecords
 ++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<email:send config-ref="Gmail_SMTP" doc:name="Send migration result email" doc:id="5896eaa9-dd10-47a2-a6fc-6319b11dbd06" fromAddress="${mail.from}" subject="${mail.subject}">
 							<email:to-addresses>
 								<email:to-address value="${mail.to}" />
 							</email:to-addresses>
 						</email:send>
 					</route>
		</scatter-gather>
			</batch:on-complete>
		</batch:job>
		<set-payload value='{
	"message": "Migration process has started!"
}' doc:name="Set Payload" doc:id="796ea2b1-d774-4c95-ad54-3dd1151fddc7" mimeType="application/json"/>
	</flow>
	
	
</mule>

	
	